@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: rgb(17, 22, 22);
    display: flex;
}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box img{
    width: 100%;
}

.porfile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.porfile h2{
    font-size: 30px;
    text-transform: capitalize;
    
    
    
    
}

.menu{
    width: 60px;
    height: 100vh;
    background-color: #123;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}

.menu:hover{
    width: 260px;
}

ul{
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    overflow: hidden;

}


ul li a:hover, .active, .data-info .box:hover, td:hover{
    background-color: #ffffff55;
    box-shadow: 0px 10px 10px rgb(100 100 100 /20%);
    animation: hoverAnimation 0.5s ease;
    cursor: pointer;
}


@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.log-out{
    position: absolute;
    bottom: 5;
    width: 100%;
    

}

.log-out a{
    background-color: #a00;
}

ul li a i{
    font-size: 20px;
    
}

.content{
    width: 100%;
    margin: 10px;
}

.title-info{
    background-color: #0481ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin: 10px 0;
}

.data-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.data-info .box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.data-info .box i{
    font-size: 40px;
}

.data-info .box .data{
    text-align: center;

}

.data-info .box .data span{
    font-size: 30px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}

td, th{
    background-color: #123;
    height: 40px;
    border-radius: 8px;

}

th{
    background-color: #0481ff;
}

.price, .count{
    padding: 6px;
    border-radius: 6px;
}

.price{
    background-color: green;
}

.count{
    background-color: gold;
    color: black;
}

@media screen and (max-width: 768px) {
    .porfile h2{
        font-size: 16px;
        position: absolute;
        padding: 70px;
        
    }

    .menu{
        height: 150vh;

        
    
    }

    .active{
        width: 90%;
    }

}












